@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src:url('fonts/Montserrat-Medium.woff2')format('woff2'),
        url('fonts/Montserrat-Medium.woff')format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('tff');
    font-weight: 500;    
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
         url('fonts/Montserrat-Bold.woff') format('woff'),
         url('fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 600;            
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: url('fonts/Montserrat-ExtraBold.woff2') format('woff2'),
         url('fonts/Montserrat-ExtraBold.woff') format('woff'),
         url('fonts/Montserrat-ExtraBold.ttf') format('ttf');
    font-weight: 800;            
}
